
body, h1, .container, #parrafo {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: lightblue;
   /* color: lightcoral; */
}

/* 
body .container p {
   background-color: green;
}
 */

body {
   .container {
      p {
         /* background-color: chocolate; */
      }
   }

   p {
      background-color: blue;
   }

   section {
      p {
         /* background-color: yellowgreen; */
      }
   }
}
/* 
   + selector de hijo directo o adyacente
   > selector de los hijos
   ~ selector de hermanos
*/
.container ~ p {
   background-color: violet;
}