
      .box-rojo {
         width: 80vw;
         height: 30vh;
         background-image: url('../assets/img/1747833155334.webp');
         background-repeat: no-repeat; 
         background-size: contain;
         background-position: right;
         color: white;
         padding: 20px;
         margin-bottom: 10px;
      }